#curtain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.5;
  color: white;
  z-index: 9;
}

@media screen and (min-width: 360px) {
  #curtain {
    display: none;
  }
}
