footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-width: var(--width-minimum);
  height: 90px;
}
footer > .menu-bar {
  display: flex;
  justify-content: space-between;
}
footer > .menu-bar > .item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 72px;
  align-items: center;
  padding: 10px 0px 20px;
}
footer > .menu-bar > .item:hover {
  cursor: pointer;
  background-color: lightgray;
}
footer > .menu-bar > .item:hover > .icon {
  transform: translateY(-5px);
}
footer > .menu-bar > .item > .icon {
  scale: 1.5;
  margin: 10px;
  transition: transform 0.3s ease-out;
}
footer > .menu-bar > .item > .text {
  font-size: 0.8em;
}
