main {
  padding: 66px 0px 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 360px;
  flex-grow: 1;
  max-width: 960px;
}
main > .wrapper > .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}
main > .wrapper > .content > .image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0px 10px 0px 20px;
}
main > .wrapper > .content > .image:hover,
main > .wrapper > .content > .text-group > .title:hover {
  cursor: pointer;
}
main > .wrapper > .content > .text-group {
  flex-basis: 210px;
  flex-grow: 1;
  margin-right: 20px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main > .wrapper > .content > .text-group > .title {
  font-weight: 700;
  font-size: 1.3em;
}
main > .wrapper > .content > .text-group > .meta {
  font-size: 0.9em;
  color: lightgray;
  margin-top: 5px;
}
main > .wrapper > .content > .text-group > .price {
  font-weight: 700;
  font-size: 1.5em;
  margin: 10px 0px;
  display: flex;
  justify-content: end;
}
